{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}

<div class="example-wrapper">
    {{ form_start(contact_form) }}

    {{ form_row(contact_form.name, {'label': 'Nom d\'utilisateur', 'attr': {'class': 'input-group', 'placeholder': 'Votre nom d\'utilisateur...' }}) }}
    {{ form_row(contact_form.from, {'label': 'Adresse email', 'attr': {'class': 'input-group', 'placeholder': 'Adresse email...' }}) }}
    {{ form_row(contact_form.message, {'label': 'Message', 'attr': {'class': 'input-group', 'placeholder': 'Votre message...' }}) }}

    <input type="submit" value="envoyer" class="btn btn-success" />
    {{ form_end(contact_form) }}
</div>
{% endblock %}
