{% extends 'base.html.twig' %}

{% block title %}Les bandes dessinées de l'auteur{% endblock %}

{% block body %}

{% for produit in produits %}
<article>
    <h2>{{ produit.titre }}</h2>
    <div>
        <h2>{{ produit.heros }} - {{ produit.refbd}}</h2>
        <div class="content">
            <img src="{{ asset('images/') }}{{ produit.refbd}}{{'.jpg'}}" alt="">
                <p>{{ produit.resume }}</p>
                <hr>
            </img>
        </div>
    </div>
</article>
{% endfor %}

{% endblock %}
